<div class="my-app bg-light">
  <div class="content-height">
    <div class="header">
      <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-around center">
        <span>Header</span>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" class="content bg-secondary opacity-75">
      <div class="content-warper ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="footer bg-light">
    <div class="container">
      <h3 class="text-capitalize title">Footer</h3>
    </div>
  </div>
</div>
