<div>
  <div #style></div>
  <iframe #pdfViewer style="display: none"></iframe>
  <mat-card class="p-3">
    <mat-card-header class="mb-3 card-header">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" class="w-100">
        <h3 class="text-capitalize title">Phân tích bán hàng</h3>
        <div class="">
          <button mat-raised-button color="primary" [hidden]="hiddenButton" (click)="dowloadReport(true)">
            tạo báo cáo từ json
          </button>
          <button mat-raised-button color="primary" [hidden]="hiddenButton" (click)="dowloadReport(false)">
            tạo nhanh báo cáo
          </button>
          <button mat-raised-button color="primary" [hidden]="hiddenButton" (click)="toReportPage()">
            tạo báo cáo
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="">
      <div class="">
        <div class="row">
          <wj-flex-grid #reportGrid [style]="'max-height: ' + this.getGridHeight() + ';'"> </wj-flex-grid>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
